services:
  cli:
    hostname: cli
    build:
      context: .
      args:
        PHP_VERSION: 8.5
        COMPOSER_VERSION: 2.8
    volumes:
      - ./var/www:/app
      - composer-data:/.composer
  cron:
    hostname: cron
    extends:
      service: cli
    environment:
      CRONTAB_FILE: /app/crontab.txt
    command: run-cron
    build:
      args:
        PHP_TYPE: fpm
  fpm:
    hostname: fpm
    extends:
      service: cli
    command: run-fpm
  nginx:
    image: nginx:1.27.5-alpine-slim
    working_dir: /app
    hostname: nginx
    environment:
      PS1: '\u@\h:\w$ '
    depends_on:
      - fpm
      - cron
    ports:
      - '80:80'
    volumes:
      - ./var/www:/app:ro
      - ./var/nginx:/etc/nginx/conf.d:ro
volumes:
  composer-data:
