services:
  cli:
    hostname: cli
    build:
      context: .
      args:
        PHP_VERSION: 8.4
        COMPOSER_VERSION: 2.9
    volumes:
      - ./var/www:/app:rw,delegated
      - composer-data:/.composer:rw,delegated
  cron:
    hostname: cron
    extends:
      service: cli
    environment:
      CRONTAB_FILE: '/app/crontab.txt'
    command: run-cron
  fpm:
    hostname: fpm
    extends:
      service: cli
    command: run-fpm
  nginx:
    image: nginx:1.27.5-alpine-slim
    working_dir: /app
    hostname: nginx
    environment:
      PS1: '\u@\h:\w$ '
    depends_on:
      - fpm
      - cron
    ports:
      - '80:80'
    volumes:
      - ./var/www:/app:ro
      - ./var/nginx:/etc/nginx/conf.d:ro
volumes:
  composer-data:
